* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #000;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    width: auto;
    height: 8vh;
    color: #fff;
    padding: 35px 40px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo-icon {
    height: auto;
}

.logo-text {
    width: min-content;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #fff;
    transition: all 0.5s ease;
}

header > nav > ul > li {
    transition: all 0.5s ease;
}

header > nav > ul > li > a:active {
    color: #5b5b5b;
    transition: 0.2s all ease;
}

header > nav > ul > li:hover,
a:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
    display: flex;
    width: auto;
    gap: 50px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 35px 40px;
    margin-top: 50px;
}

.welcome > h1 {
    color: #b5964d;
    margin-right: auto;
    width: 30%;
}

.welcome > h1 > span {
    font-weight: 300;
    color: #fff;
}

.welcome > img {
    object-fit: cover;
    height: 650px;
    width: 85vw;
    object-position: bottom;
    transition: all 0.5s ease;
}

.welcome > img:hover {
    transform: scale(1.1);
}

.cards-statue {
    width: 100%;
    border-bottom: 4px solid #fff;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 0 5vw;
    margin-top: 50px;
}

.cards-statue > .card {
    height: auto;
    width: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cards-statue > .card > img {
    margin-top: 10px;
    transition: transform 0.5s ease;
}

.cards-statue > .card > img:hover {
    transform: scale(1.1);
}

.card-l {
    width: 4px;
    background: #d9d9d9;
}

.card-h {
    color: #b5964d;
    font-size: clamp(5px, 12px, 15px);
}

.card-p {
    color: #fff;
    font-size: clamp(5px, 10px, 15px);
}

.home-about {
    color: #fff;
    width: 70vw;
    margin: 0 auto;
    margin-top: 100px;
}

.home-about-h > h2 {
    color: #b5964d;
}

.home-about-h > h3 {
    font-weight: 400;
}

.home-about-t {
    margin-top: 30px;
}

.home-about-t > span {
    color: #b5964d;
}

.home-faq {
    color: #fff;
    margin: 0 auto;
    width: 70vw;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-faq-h {
    margin-bottom: 20px;
    margin-right: auto;
}

.home-faq-h > h2 {
    color: #b5964d;
}

.home-about-h > h3 {
    font-weight: 400;
}

.home-faq > section {
    width: 460px;
}

.home-faq > section > details {
    margin-bottom: 20px;
}

.home-faq > section > details > summary {
    color: #b5964d;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
}

.home-faq > section > details > p {
    margin-top: 10px;
}

.home-faq > section > details > summary::after {
    content: "▷";
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
}

.home-faq > section > details[open] summary::after {
    content: "▽";
}

details:open {
    transition: all 1s ease;
}

footer {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 8px;
    color: #d9d9d9;
}

footer > .times > h4 {
    color: #b5964d;
    margin-bottom: 10px;
}

footer p {
    font-size: 15px;
}

footer > .contacts {
    grid-column-start: 5;
    grid-row-start: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

footer > .contacts > img {
    width: 30px;
    height: 30px;
}

footer > .author {
    grid-column: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 2;
    text-align: center;
}

footer > .author > span {
    color: #b5964d;
}

.login {
    width: 300px;
    height: auto;
    margin: auto auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login > .inp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px 10px;
}

.login > .inp > input {
    height: 25px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

.login > .btn {
    background-color: #b5964d;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    margin: 20px;
    width: 150px;
    transition: all 0.5s ease;
}

.login > .btn:hover {
    transform: scale(1.1);
}

.logout {
    position: absolute;
    right: 5%;
}

.logout > .btn {
    background-color: #b5964d;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #000;
    width: 150px;
    transition: all 0.5s ease;
}

.logout > .btn:hover {
    transform: scale(1.1);
}

.login-h {
    color: #b5964d;
    text-align: center;
    margin-bottom: 20px;
}

.cards {
    color: #fff;
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    margin: 0 auto;
}

.cards > .card {
    width: 25vw;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #b5964d;
    padding: 5px;
    transition: all 0.5s ease;
    background-color: #ffffff30;
}

.cards > .card:hover {
    transform: scale(1.1);
    backdrop-filter: blur(10px);
}

.cards > .card > h2 {
    border-bottom: 2px solid #b5964d;
    margin-bottom: 10px;
}

.cards > .card > em {
    margin-top: 10px;
}

.cards > .card > img {
    width: 100%;
    max-height: 330px;
    border-radius: 5px;
}

.news-h {
    color: #b5964d;
    margin: 50px auto 30px auto;
}

.ticket {
    width: 350px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #b5964d;
    padding: 5px;
    transition: all 0.5s ease;
    background-color: #ffffff30;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ticket:hover {
    transform: scale(1.1);
    backdrop-filter: blur(10px);
}

.ticket > h2 {
    border-bottom: 2px solid #b5964d;
    margin-bottom: 10px;
    margin: 10px;
    padding-bottom: 15px;
}

.ticket > .inp {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px 10px;
}

.ticket label {
    transition: all 0.5s ease;
    font-weight: bold;
    color: #000;
}

.ticket:hover label {
    color: #fff;
}

.ticket > .inp > input {
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 5px;
    transition: all 0.5s ease;
    background-color: #ffffff30;
}

.ticket > .inp > input:focus {
    background-color: #fff;
}

.ticket > .inp > select {
    height: 30px;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 5px;
    transition: all 0.5s ease;
    background-color: #ffffff30;
}

.ticket > .inp > select:focus {
    background-color: #fff;
}

.ticket > .btn {
    background-color: #b5964d;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    width: 150px;
    transition: all 0.5s ease;
}

.ticket > .btn:hover {
    transform: scale(1.1);
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    padding-top: 10px;
    border-radius: 10px;
    height: auto;
    width: 300px;
    background-color: #ffffff30;
    backdrop-filter: blur(20px);
    padding-top: 25px;
    position: relative;
    color: #fff;
    min-height: 150px;
    justify-content: center;
}

.modal-back {
    width: 100%;
    height: 100%;
    background-color: #00000070;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
}

.modal > span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modal > span > h3 {
    margin-right: 10px;
}

.modal > button {
    background-position: center center;
    width: 20px;
    height: 20px;
    background-color: #fff0;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal > button:hover {
    transform: scale(1.2);
}
